<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <WINDOWS11>
    <IgnoreVsHosting>True</IgnoreVsHosting>
    <CompareSize>False</CompareSize>
    <BaseURL>http://twicker.ru/godspeed/latest</BaseURL>
    <IgnoreDebugSymbols>True</IgnoreDebugSymbols>
    <IgnoreFiles>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;string&gt;Castle.Core.dll&lt;/string&gt;
  &lt;string&gt;Castle.Core.xml&lt;/string&gt;
  &lt;string&gt;Esent.Collections.dll&lt;/string&gt;
  &lt;string&gt;Esent.Collections.xml&lt;/string&gt;
  &lt;string&gt;Esent.Interop.dll&lt;/string&gt;
  &lt;string&gt;Esent.Interop.xml&lt;/string&gt;
  &lt;string&gt;Fizzler.dll&lt;/string&gt;
  &lt;string&gt;Fizzler.Systems.HtmlAgilityPack.dll&lt;/string&gt;
  &lt;string&gt;Fizzler.xml&lt;/string&gt;
  &lt;string&gt;HtmlAgilityPack.dll&lt;/string&gt;
  &lt;string&gt;HtmlAgilityPack.xml&lt;/string&gt;
  &lt;string&gt;Microsoft.Practices.Composite.dll&lt;/string&gt;
  &lt;string&gt;Microsoft.Practices.Composite.Presentation.dll&lt;/string&gt;
  &lt;string&gt;Microsoft.Practices.Composite.Presentation.xml&lt;/string&gt;
  &lt;string&gt;Microsoft.Practices.Composite.UnityExtensions.dll&lt;/string&gt;
  &lt;string&gt;Microsoft.Practices.Composite.UnityExtensions.xml&lt;/string&gt;
  &lt;string&gt;Microsoft.Practices.Composite.xml&lt;/string&gt;
  &lt;string&gt;Microsoft.Practices.ServiceLocation.dll&lt;/string&gt;
  &lt;string&gt;Microsoft.Practices.Unity.dll&lt;/string&gt;
  &lt;string&gt;Microsoft.Practices.Unity.xml&lt;/string&gt;
  &lt;string&gt;Microsoft.Windows.Shell.dll&lt;/string&gt;
  &lt;string&gt;NAppUpdate.Framework.dll&lt;/string&gt;
  &lt;string&gt;NAudio.dll&lt;/string&gt;
  &lt;string&gt;Neurotoxin.Godspeed.Core.dll&lt;/string&gt;
  &lt;string&gt;Neurotoxin.Godspeed.Core.dll.config&lt;/string&gt;
  &lt;string&gt;Neurotoxin.Godspeed.Modules.dll&lt;/string&gt;
  &lt;string&gt;Neurotoxin.Godspeed.Modules.dll.config&lt;/string&gt;
  &lt;string&gt;Neurotoxin.Godspeed.Presentation.dll&lt;/string&gt;
  &lt;string&gt;Neurotoxin.Godspeed.Shell.exe.config&lt;/string&gt;
  &lt;string&gt;ServiceStack.Common.dll&lt;/string&gt;
  &lt;string&gt;ServiceStack.Common.xml&lt;/string&gt;
  &lt;string&gt;ServiceStack.Interfaces.dll&lt;/string&gt;
  &lt;string&gt;ServiceStack.Interfaces.xml&lt;/string&gt;
  &lt;string&gt;ServiceStack.OrmLite.dll&lt;/string&gt;
  &lt;string&gt;ServiceStack.OrmLite.Sqlite.Windows.dll&lt;/string&gt;
  &lt;string&gt;ServiceStack.OrmLite.xml&lt;/string&gt;
  &lt;string&gt;ServiceStack.Text.dll&lt;/string&gt;
  &lt;string&gt;ServiceStack.Text.xml&lt;/string&gt;
  &lt;string&gt;SharpCompress.dll&lt;/string&gt;
  &lt;string&gt;SharpMikNAudio.dll&lt;/string&gt;
  &lt;string&gt;System.Buffers.dll&lt;/string&gt;
  &lt;string&gt;System.Data.SQLite.dll&lt;/string&gt;
  &lt;string&gt;System.Data.SQLite.xml&lt;/string&gt;
  &lt;string&gt;System.Memory.dll&lt;/string&gt;
  &lt;string&gt;System.Numerics.Vectors.dll&lt;/string&gt;
  &lt;string&gt;System.Runtime.CompilerServices.Unsafe.dll&lt;/string&gt;
  &lt;string&gt;System.Text.Encoding.CodePages.dll&lt;/string&gt;
  &lt;string&gt;System.Threading.Tasks.Extensions.dll&lt;/string&gt;
  &lt;string&gt;System.Windows.Interactivity.dll&lt;/string&gt;
  &lt;string&gt;System.Windows.Interactivity.xml&lt;/string&gt;
  &lt;string&gt;WPFLocalizeExtension.dll&lt;/string&gt;
  &lt;string&gt;WPFLocalizeExtension.xml&lt;/string&gt;
  &lt;string&gt;XAMLMarkupExtensions.dll&lt;/string&gt;
  &lt;string&gt;XAMLMarkupExtensions.xml&lt;/string&gt;
  &lt;string&gt;Xceed.Wpf.Toolkit.dll&lt;/string&gt;
  &lt;string&gt;ZstdSharp.dll&lt;/string&gt;
&lt;/ArrayOfString&gt;</IgnoreFiles>
    <CopyFiles>True</CopyFiles>
    <CompareVersion>True</CompareVersion>
    <OutputFolder>c:\Users\User\source\repos\Nemiroff\godspeed\Neurotoxin.Godspeed\Neurotoxin.Godspeed.Shell\bin\Release\</OutputFolder>
    <CompareHash>True</CompareHash>
    <CompareDate>False</CompareDate>
    <FeedXML>c:\Users\User\source\repos\Nemiroff\godspeed\Install\Output\versioninfo.xml</FeedXML>
    <AssemblyVersion>Neurotoxin.Godspeed.Shell.exe</AssemblyVersion>
    <AddExtension>
    </AddExtension>
    <CleanUp>True</CleanUp>
  </WINDOWS11>
</Settings>